= form_for @task do |f|
  = f.text_field :desc
  = f.submit id: 'submit'
#list
  - @tasks.each do |t|
    .task= t.desc
:javascript
  $(function(){
  	$('#submit').on('click', function(e){
  		//prevents the default behavior of the form, i.e. submitting the form
  		e.preventDefault();
  		//some action
  		
  		$.post('/tasks', {desc: $('#task_desc').val() }, function(data){
  			$('#list').append('<div class="task">'+data+'</div>')
  			$('#task_desc').val('')
  		});
  	});
  
  	// $('#list').load('/tasks')
  })
